.buttonsContainer button:first-of-type {
    margin-right: 27px;
}

.clock {
}

.watch {
    font-size: 20px;
    margin-bottom: 8px;
}

.watch strong {
}

.more {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 27px;
}