.burgerMenuIcon {
}

.header {
    display: flex;
    padding: 17px 70px 14px 70px;
    justify-content: space-between;
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
    margin-bottom: 47px;
}

.header h1 {
    font-size: 24px;
}